@import url('$css/colors.css');

/* Desktop */

.contactPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 15rem;
    /* border: red 2px solid;  */
}

.contactParent::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 60vh;
    background-color: var(--main);
    z-index: -1;
}

.contactBg {
    background-color: var(--main2);
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color: var(--main);
    background-size: contain;
    background-position: center;
}

.contactChild {
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: relative;
}

.contactHero {
    width: 70%;
    height: 27rem;
    background-image: url('/atnipLogoRedPrint2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 25rem;
    padding-left: 2rem;
}

.contactInfo h1 {
    color: var(--txtW);
    margin-bottom: 2rem;
    text-align: left;
}

.contactDetails {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 100%;
}

.contactDesc {
    text-align: left;
}

.contactInfo span {
    color: var(--txtW3);
    opacity: 0.6;
}

.contactInfo p1, .contactInfo p1 a {
    color: var(--txtW);
}

.contactInfo p1 a::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 3px;
    height: 1px;
    background-color: var(--txtW3);
    opacity : 0.6;
}

.contactInfo p1 a:hover::after {
    opacity: 0;
    transition: all 0.3s ease;
}

/* Mobile */

@media (max-width: 1024px) {
    .contactChild {
        padding: 1rem;
    }

    .contactHero {
        width: 100%;
        height: 25rem;
    }

    .contactInfo h1 {
        font-size: 3rem;
        margin-bottom: .5rem;
    }

    .contactInfo p1 {
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .contactParent {
        margin-top: 4rem;
        margin-bottom: 0rem;
    }

    .contactChild {
        flex-direction: column;
    }

    .contactHero {
        width: 100%;
        height: 20rem;
    }

    .contactInfo {
        padding-left: 0;
        height: 22rem;
        max-width: 25rem;
    }

    .contactDetails {
        flex-direction: column;
        gap: 0rem;
    }

    .contactDetails p1 {
        margin-bottom: 1.5rem;
        height: 1.5rem;
    }

    .contactDetails span {
        opacity: 1;
    }

    .contactDetails div:nth-child(1), .contactDetails div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}